@import "./index.scss";

//ProductCarousel
.product-carousel {
    background: linear-gradient(to right, #dadada, #f3f3f3);



    .carousel-indicators {
        display: none;
    }

    .carousel-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 500px;
        margin: 0 auto;
        width: 80%;
    }

    .image-container {
        flex: 6;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-info {

        flex: 4;
        padding-left: 50px;
        background-color: transparent;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .buy-button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #3566b6;
        border-radius: 5px;
        color: #fff;
        border: 1px solid #3566b6;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: #000;
            transition: all 0.5s;
        }
    }
}

//Home
.home-product {

    margin: 0 auto;
    width: 90%;


    h2 {}

    .row {
        .product-detail {

            padding: 20px;
            position: relative;

            .heart-icon {
                position: absolute;
                top: 40px;
                right: 40px;
                font-size: 25px;
                z-index: 1;

                // &:hover {
                //     color: #d03333;
                // }
            }

            .card {
                background: #f7f7f7;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border: 1px solid rgba(0, 0, 0, 0.1);

                img {
                    padding: 30px 30px 0px
                }

                .card-body {
                    background: #fff;

                    .item-title {
                        color: #4f4f4f;

                        h5 {}

                        p {}
                    }

                    .item-star {
                        i {
                            font-size: 16px;
                            padding-right: 2px;
                        }
                    }

                    .item-info {

                        .btn-price {
                            padding: 12px 40px;
                            border: 1px solid #2e2929;
                        }

                        .btn-buy {
                            background-color: #3566b6;
                            color: white;
                            border: 1px solid #3566b6;
                        }

                        a {
                            border-radius: 5px;
                            font-size: 14px;
                            padding: 12px 30px;

                            &:hover {
                                color: black;
                                background: #f7f7f7;
                                transition: all .5s;
                            }
                        }

                    }
                }
            }
        }

    }
}