@import 'index.scss';

.page-login {

    .row {
        //background-color: #aeaeae;
        margin: auto;
        width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        background-color: #fbfbfb;
        color: black;

        .col-4 {
            @media screen and (max-width: 1168px) {
                width: 0;
            }
        }

        .col-8 {
            width: 60%;
            margin: auto;

            .form-login {

                @media screen and (max-width: 1168px) {

                    padding: 30px 0;
                    font-size: 15px;
                }

                h3 {
                    font-size: 35px;

                    // padding-top: 20px;
                    @media screen and (max-width: 1168px) {

                        font-size: 30px;
                    }
                }

                .form-group {

                    p {
                        margin-bottom: 10px;
                    }

                    input {
                        margin-bottom: 10px;
                        border: none;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                        height: 54px;
                        background: #fff;
                    }

                    button {
                        color: white;
                        border-radius: 4px;
                        height: 54px;
                        background: #9fa6b2;
                        font-size: 16px;

                        &:hover {
                            background: #fff;
                            color: black;
                            transition: all 0.5s;
                            border-color: #9fa6b2;
                        }
                    }

                    button.kep-login-facebook {
                        border: none;
                        background: #fbfbfb;
                        color: #3a71ca;
                        padding-left: 5px;
                    }

                }

                .password-eye {
                    position: relative;

                    #password {}

                    .eye-icon {
                        position: absolute;
                        top: 75%;
                        right: 10px;
                        transform: translateY(-50%);
                        cursor: pointer;


                    }
                }

                .login-facebook {
                    padding-top: 10px;

                    a {
                        color: #4f4f4f;

                        span {
                            color: #3a71ca;
                            display: inline-flex;
                            align-items: center;
                            //color: #3b5998; 
                            cursor: pointer;
                            border: none;
                            background-color: #fff;

                            &:hover {
                                text-decoration: underline;
                            }

                            button {
                                @media screen and (max-width: 1168px) {

                                    font-size: 15px;
                                    padding-top: 0;
                                }
                            }
                        }
                    }
                }

                .register-account {
                    color: #9fa6b2;
                    padding-top: 20px;

                    a {
                        color: red;

                        &:hover {
                            text-decoration: underline;
                        }

                        @media screen and (max-width: 773px) {
                            display: block;
                        }

                        @media screen and (max-width: 580px) {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}